@*@using Microsoft.Web.Helpers;*@
@{
    ViewBag.Title = "about";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        we make life easier.
    </p>
    <p>
        create <b>custom</b> software.
    </p>

</article>

<aside>
    <h3>What's new </h3>

    @* @foreach (var whats in Model)
    { 
        <p>@whats.WorkTime
            <br />
            @whats.Work
        </p>
    }*@
</aside>
