@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span>09013192497</span>
    </p>
    <p>
        <span>09412806078</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:sama_dhan@yahoo.co.in">sama_dhan@yahoo.co.in</a></span>
    </p>
    <p>
        <span><a href="mailto:manoj.great@yahoo.com">manoj.great@yahoo.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Delhi<br />
        U.P.
    </p>
</section>
